@model Appointment.Web.Site.ViewModels.IndexViewModel


<div class="row">
    <div class="col-xs-12 col-sm-6">
        @if (Model.RoomSchedules.Count == 0)
        {
            <h2>No rooms found.</h2>
            return;
        }

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                @{ var firstTab = true; }
                @foreach (var schedule in Model.RoomSchedules)
                {
                    var active = firstTab ? "active" : "";
                    firstTab = false;
                    var roomId = String.Format("room-{0}", schedule.RoomId);

                    <li role="presentation" class="@active">
                        <a href="#@roomId" aria-controls="@roomId" role="tab" data-toggle="tab" class="btn">
                            @schedule.RoomName
                        </a>
                    </li>
                }
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                @{ var firstTabContent = true; }
                @foreach (var schedule in Model.RoomSchedules)
                {
                    var active = firstTabContent ? "active" : "";
                    firstTabContent = false;
                    var tabId = String.Format("room-{0}", schedule.RoomId);
                    <div role="tabpanel" class="tab-pane @active" id="@tabId">
                        <table class="table-bordered table table-condensed">
                            @foreach (var slot in schedule.Slots)
                            {
                                var i = 1;
                                do
                                {
                                    var display = slot.IsAvailable() ? "Available" : String.Format("Appointment : {0}", slot.AppointmentId);
                                    var css = slot.IsAvailable() ? "slot-free" : "slot-taken";
                                    var starting = slot.StartingAt + (i - 1);
                                    <tr class="slot @css">
                                        <td class="slot-hour">@String.Format("{0}:00", starting.ToString("D2"))</td>
                                        <td>
                                            @if (slot.IsAvailable())
                                            {
                                                <button onclick="schedule(@schedule.RoomId, @starting)">@display</button>
                                            }
                                            else
                                            {
                                                <span data-toggle="tooltip" data-placement="top">@display</span>
                                                <button type="button" class="btn btn-default editbutton pull-right" data-id="@slot.AppointmentId" data-toggle="modal" data-target="#editappointment">
                                                    Edit
                                                </button>
                                                <button type="button" class="btn btn-default viewbutton pull-right" data-id="@slot.AppointmentId" data-toggle="modal" data-target="#viewappointment">
                                                    View
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                } while (i <= slot.Length);
                            }
                        </table>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <button id="scheduleNow" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#appointmentPanel" aria-expanded="false" aria-controls="appointmentPanel">
            schedule now
        </button>
        <div class="collapse" id="appointmentPanel">
            <div class="well">
                <form method="post" action="@Url.Action("add", "appointment")">
                    <div class="form-group">
                        <label for="roomid">room</label>
                        <br />
                        <select style="padding: 4px; width: 100%" name="roomid" id="roomid">
                            @foreach (var c in Model.RoomSchedules)
                            {
                                <option value="@c.RoomId">@c.RoomName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startHour">Time of the day</label>
                        <input type="number" class="form-control" name="startHour" id="startHour" placeholder="Start time">
                    </div>
                    <div class="form-group">
                        <label for="length">Length</label>
                        <br />
                        <select style="padding: 4px; width: 100%" name="length" id="length">
                            <option value="1">1 hour</option>
                            <option value="2">2 hours</option>
                            <option value="3">3 hours</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="length">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="length">Notes</label>
                        <input type="text" class="form-control" name="notes" id="notes" placeholder="Notes">
                    </div>
                    <button class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editappointment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">appointment <span id="appointmentId"></span></h4>
            </div>
            <form method="post" action="@Url.Action("edit", "appointment")">
                <div class="modal-body">

                    <input type="hidden" id="current-id" name="id" />
                    <input type="hidden" id="room-id" name="roomId" />
                    <input type="text" id="current-hour" name="startHour" />
                    <br />
                    <input type="text" id="current-name" name="name" />
                    <br />
                    <input type="text" id="current-length" name="length" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="viewappointment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">appointment <span id="viewAppointmentId"></span> :: History</h4>
            </div>
            <div class="modal-body">
                <p id="history"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{ 

<script type="text/javascript">
    $(".editbutton").on("click", function () {
        var appointmentId = $(this).data('id');
        $("#appointmentId").html(appointmentId);
        $("#current-id").val(appointmentId);

        $.ajax({
            url: ROOTSERVER + "/api/scheduling/" + appointmentId,
            cache: false
        }).done(function (data) {
            $("#room-id").val(data.roomId);
            $("#current-name").val(data.name);
            $("#current-hour").val(data.startingAt);
            $("#current-length").val(data.length);
        });
    });
</script>

 

<script type="text/javascript">
    $(".viewbutton").on("click", function () {
        var appointmentId = $(this).data('id');
        $("#viewAppointmentId").html(appointmentId);

        $.ajax({
            url: ROOTSERVER + "/api/schedulinghistory/" + appointmentId,
            cache: false
        }).done(function (data) {
            var html = "<table class='table'>";
            html += "<thead><th>Action</th><th>When</th><th>room Id</th><th>Starting at</th><th>Length</th><th>Name</th><th>Notes</th></thead>";
            for (var i = 0; i < data.changeList.length; i++) {
                var change = data.changeList[i];
                html += "<tr>";
                html += "<td>" + change.action + "</td>";
                html += "<td>" + change.when + "</td>";
                html += "<td>" + change.roomId + "</td>";
                html += "<td>" + change.startingAt + "</td>";
                html += "<td>" + change.length + "</td>";
                html += "<td>" + change.name + "</td>";
                html += "<td>" + change.notes + "</td>";
                html += "</tr>";
            }
            html += "</table>";
            $("#history").html(html);
        });
    });
</script>
}